name: Dev Check

on:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test_format_lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Format
        run: cargo fmt --all -- --check

      - name: Lint
        run: cargo clippy --all-features

      - name: Test
        run: cargo test --all-features
